.ng-valid:not(form), .ng-valid[required]:not(form), .ng-valid.required:not(form)  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}