<div class="row">
  <div class="col-md-12">
    <h2 appHighlight>Hero Details Component: {{hero?hero.name:""}}</h2>
  </div>
  <div class="col-md-12">
    <ul class="nav nav-pills">
      <li><a class="btn btn-primary" [routerLink]="['/hero',id]" routerLinkActive="active">Hero</a></li>
      <li><a class="btn btn-primary" [routerLink]="['overview']" routerLinkActive="active"> Overview</a></li>
      <li><a class="btn btn-danger" [routerLink]="['skill']" routerLinkActive="active"> Skills</a></li>
    </ul>
  </div>
  <div class="col-md-6" *ngIf="hero">
    <form-data [(model)]="hero" [(formOptions)]="formOptions"></form-data>
  </div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>