<div class="row">
  <div class="col-md-12">
    <h1>Heros list component</h1>
  </div>
  <div class="col-md-12"><a class="pointer btn btn-primary"><i class="fa fa-plus-circle"></i><span class="mr-left-10">Add Hero</span></a></div>
  <div class="col-md-12">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let hero of heros; let index=index;" class.text-danger="hero === selectedHero"
          [@triggerNameState]="hero.status"
          [@flyInOut]="hero.status"
      >
        <td>{{hero.id}}
          <input type="text" value="{{hero.id}}" />
        </td>
        <td><span (click)="toggleState(hero)">{{hero.name}}</span></td>
        <td>{{hero.createdAt | date}}</td>
        <td>{{hero.status}}</td>
        <td><a class="pointer" [routerLink]="['/hero', hero.id]"><i class="fa fa-eye"></i></a><a class="pointer mr-left-10"><i class="fa fa-close text-danger" (click)="deleteHero(hero.id, index)"></i></a></td>
      </tr>
      </tbody>
    </table>
    <uiza-data-table></uiza-data-table>
  </div>
</div>