<div class="row">
  <div class="col-md-12">
    <h2>Shadow Fiend</h2>
    <p>Shadow Fiend razes the ground directly in front of him, dealing damage to enemy units in the area. Adds a stacking damage amplifier on the target that causes the enemy to take bonus Shadow Raze damage per stack.</p>
    <p>Cast Animation: 0.55+0</p>
    <p>Distance: 200</p>
    <p>Radius: 250</p>
    <p>Base Damage: 90/160/230/300 (Talent 240/310/380/450)</p>
    <p>Damage Increase per Stack: 50/60/70/80</p>
    <p>Stack Duration: 8</p>
  </div>
</div>