doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title AngularHeroes
    base(href='/')
    meta(name='title', description='app')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/x-icon', href='favicon.ico')
    link(href='assets/css/bootstrap.css', rel='stylesheet')
    link(href='assets/css/font-awesome.css', rel='stylesheet')
  body
    app-root Loading...
    script(src='assets/js/jquery-3.1.1.js', type='application/javascript')
    script(src='assets/js/bootstrap.js', type='application/javascript')
    script(src='assets/js/chart.js', type='application/javascript')
    script(type='text/javascript', src='inline.bundle.js')
    script(type='text/javascript', src='polyfills.bundle.js')
    script(type='text/javascript', src='styles.bundle.js')
    script(type='text/javascript', src='vendor.bundle.js')
    script(type='text/javascript', src='main.bundle.js')
