<div class="row">
    <div class="row-control">
        <div class="table-action-menu">
            <input class="search-input form-control"
                type='text'
                placeholder='Search here..'
                (keyup)='updateFilter($event)'
            />
        </div>
        <div class="table-options-limit">
            <span>Limit: </span>&nbsp; 
            <select [(ngModel)]="tableOptions.limit" (change)="changeLimit()" class="form-control form-control-sm ng-pristine ng-valid ng-not-empty ng-touched">
                <option *ngFor="let limit of tableOptions?.limits" value="{{limit}}" class="ng-binding ng-scope">{{limit}}</option>
            </select>
        </div>
    </div>

    <ngx-datatable #dataTable
      class="material"
      [rows]="tableData"
      [sortType]="'multi'"
      [scrollbarH]="true"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="10"
      [selected]="selectedItems"
      [selectionType]="'checkbox'"
      [displayCheck]="displayCheck"
      (activate)="onActivate($event)"
      (select)='onSelect($event)'
      (page)="onPaginated($event)">
        <ngx-datatable-column
            [width]="50"
            [height]="30"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            [headerCheckboxable]="true"
            [checkboxable]="true">
        </ngx-datatable-column>
        <ng-container *ngFor="let column of tableOptions?.form">
            <ngx-datatable-column name="{{column.name}}" [flexGrow]="1" [width]="200">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
        </ng-container>
    </ngx-datatable>
</div>