<div class="row">
  <div class="col-md-12 bg-info">
    <div class="container">
      <h1>Welcome to app!</h1>
      <ul class="nav nav-pills pd-bottom-10">
        <li class="pointer" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}"><a>Home</a></li>
        <li class="pointer" routerLinkActive="active" routerLink="/about"><a>About</a></li>
        <li class="pointer" routerLinkActive="active" routerLink="/heros"><a>Heros list</a></li>
        <li class="pointer" routerLinkActive="active" routerLink="/login"><a>Login</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <toaster-container [toasterconfig]="configToaster"></toaster-container>
  </div>
  <div class="col-md-12">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="row mr-top-50">
  <div class="col-md-12 bg-warning">
    <div class="container">
      <h1>footer</h1>
      <p>this is footer</p>
    </div>
  </div>
</div>
